USE [master]
GO
/****** Object:  Database [Parcial_Dos]    Script Date: 22/11/2022 17:48:30 ******/
CREATE DATABASE [Parcial_Dos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Parcial_Dos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Parcial_Dos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Parcial_Dos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Parcial_Dos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Parcial_Dos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Parcial_Dos]
GO
/****** Object:  Table [dbo].[Inscripcion]    Script Date: 22/11/2022 17:48:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inscripcion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Estados] [varchar](50) NOT NULL,
	[Cuatrimestre] [varchar](50) NOT NULL,
	[Profesor] [varchar](50) NOT NULL,
	[Alumno] [varchar](50) NOT NULL,
	[PrimerParcial] [float] NOT NULL,
	[SegundoParcial] [float] NOT NULL,
	[Promedio] [float] NOT NULL,
	[Correlativa] [varchar](50) NOT NULL,
	[Asistencia] [varchar](50) NOT NULL,
	[MateriaCorrelativa] [varchar](50) NOT NULL,
	[Id_Materias] [int] NOT NULL,
 CONSTRAINT [PK__Inscripc__3214EC07F20C2604] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materias]    Script Date: 22/11/2022 17:48:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materias](
	[Id_Materias] [int] IDENTITY(1,1) NOT NULL,
	[Estados] [varchar](50) NULL,
	[Nombre] [varchar](50) NULL,
	[Cuatrimestre] [varchar](50) NULL,
	[Profesor] [varchar](50) NULL,
	[Alumnos] [varchar](50) NULL,
	[PrimerParcial] [float] NULL,
	[SegundoParcial] [float] NULL,
	[Promedio] [float] NULL,
	[Correlativa] [varchar](50) NULL,
	[Asistencia] [varchar](50) NULL,
	[MateriaCorrelativa] [varchar](50) NULL,
 CONSTRAINT [PK_Materias] PRIMARY KEY CLUSTERED 
(
	[Id_Materias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 22/11/2022 17:48:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Y_Apellido] [varchar](50) NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
	[TipoUsuario] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Inscripcion] ON 

INSERT [dbo].[Inscripcion] ([Id], [Estados], [Cuatrimestre], [Profesor], [Alumno], [PrimerParcial], [SegundoParcial], [Promedio], [Correlativa], [Asistencia], [MateriaCorrelativa], [Id_Materias]) VALUES (3, N'Regular', N'Primero', N'Mario Redondo', N'Enrique Chuchuy', 6, 9, 7.5, N'No', N'Si', N'Ninguna', 1)
INSERT [dbo].[Inscripcion] ([Id], [Estados], [Cuatrimestre], [Profesor], [Alumno], [PrimerParcial], [SegundoParcial], [Promedio], [Correlativa], [Asistencia], [MateriaCorrelativa], [Id_Materias]) VALUES (4, N'Regular', N'Primero', N'Lucas Sanchez', N'Ali Maria', 6, 8, 7, N'No', N'Si', N'Ninguna', 1)
INSERT [dbo].[Inscripcion] ([Id], [Estados], [Cuatrimestre], [Profesor], [Alumno], [PrimerParcial], [SegundoParcial], [Promedio], [Correlativa], [Asistencia], [MateriaCorrelativa], [Id_Materias]) VALUES (5, N'Regular', N'Primero', N'Lucas Sanchez', N'Andrea Reyes', 7, 7, 7, N'No', N'Si', N'Ninguna', 1)
SET IDENTITY_INSERT [dbo].[Inscripcion] OFF
GO
SET IDENTITY_INSERT [dbo].[Materias] ON 

INSERT [dbo].[Materias] ([Id_Materias], [Estados], [Nombre], [Cuatrimestre], [Profesor], [Alumnos], [PrimerParcial], [SegundoParcial], [Promedio], [Correlativa], [Asistencia], [MateriaCorrelativa]) VALUES (1, N'Pendiente', N'Programacion I', N'Primero', N'Mario Redondo', NULL, NULL, NULL, NULL, N'No', NULL, N'Ninguna')
INSERT [dbo].[Materias] ([Id_Materias], [Estados], [Nombre], [Cuatrimestre], [Profesor], [Alumnos], [PrimerParcial], [SegundoParcial], [Promedio], [Correlativa], [Asistencia], [MateriaCorrelativa]) VALUES (2, N'Pendiente', N'Programacion II', N'Segundo', N'Joe Moral', NULL, NULL, NULL, NULL, N'No', NULL, N'Programacion I')
INSERT [dbo].[Materias] ([Id_Materias], [Estados], [Nombre], [Cuatrimestre], [Profesor], [Alumnos], [PrimerParcial], [SegundoParcial], [Promedio], [Correlativa], [Asistencia], [MateriaCorrelativa]) VALUES (3, N'Pendiente', N'Ingles I', N'Primero', N'Laura Guzman', NULL, NULL, NULL, NULL, N'No', NULL, N'Ninguna')
SET IDENTITY_INSERT [dbo].[Materias] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id_Usuario], [Nombre_Y_Apellido], [Usuario], [Contraseña], [TipoUsuario]) VALUES (1, N'Bruno Gonzales', N'Admin', N'12345', N'Admin')
INSERT [dbo].[Usuarios] ([Id_Usuario], [Nombre_Y_Apellido], [Usuario], [Contraseña], [TipoUsuario]) VALUES (2, N'Robin Morales', N'Robin001', N'1234', N'Profesor')
INSERT [dbo].[Usuarios] ([Id_Usuario], [Nombre_Y_Apellido], [Usuario], [Contraseña], [TipoUsuario]) VALUES (3, N'Mario Redondo', N'Mari0', N'666', N'Profesor')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[Inscripcion]  WITH CHECK ADD  CONSTRAINT [FK_Inscripcion_Materias] FOREIGN KEY([Id_Materias])
REFERENCES [dbo].[Materias] ([Id_Materias])
GO
ALTER TABLE [dbo].[Inscripcion] CHECK CONSTRAINT [FK_Inscripcion_Materias]
GO
ALTER TABLE [dbo].[Inscripcion]  WITH CHECK ADD  CONSTRAINT [CK__Inscripci__Estad__286302EC] CHECK  (([Estados]='Pendiente' OR [Estados]='Libre' OR [Estados]='Regular'))
GO
ALTER TABLE [dbo].[Inscripcion] CHECK CONSTRAINT [CK__Inscripci__Estad__286302EC]
GO
USE [master]
GO
